<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="AnimeApiClientKey" value="AA46C009-49F8-4411-A4D6-131D4BA6D91B" />
    <add key="SimilarsMaxNumber" value="12" />
    <add key="VisitedMaxNumber" value="12"/>
    <add key="SearchMaxNumber" value="50" />
    <!--<add key="APIKey" value="B60F9E0A-3695-49F2-92EE-3106DA18B821" />-->
    <add key="emailServiceAPIKey" value="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" />
    <add key="InPublicKey" value="BgIAAACkAABSU0ExAAQAAAEAAQDx0Ip0clnFDq107C1ur2ge+ArLhD/uuQO6bLoRAL05mYEbkQiexIOX2vy6wrt3NeKbkr0kmC3ByQJjCxML/POQ3uVbsFRC75DHNxfOIp2qduMexz48lg+xoJ42mZzBFWvHtpyP7U10LLEdfuKwlbsnyhQdPkcNzC5ev4g/4nJykA==" />
    <add key="InPrivateKey" value="BwIAAACkAABSU0EyAAQAAAEAAQDx0Ip0clnFDq107C1ur2ge+ArLhD/uuQO6bLoRAL05mYEbkQiexIOX2vy6wrt3NeKbkr0kmC3ByQJjCxML/POQ3uVbsFRC75DHNxfOIp2qduMexz48lg+xoJ42mZzBFWvHtpyP7U10LLEdfuKwlbsnyhQdPkcNzC5ev4g/4nJykGEAt0NGRMhHCkuHCyn5lq6wDpoiAGG9Z+QbCF5B0kQf622VckhXa78R7jJmjxWsNXw7t9jqLuz0R+PtEZvu/suR2jHRZtRdo1xQtkcS5xfyTHl/F1G4WJSPYu2FpD+sjUfnlmOp1YP1lmsyx+FGIMKeVxog1am4NUnDSJvdRkW1wbMoeVS8ocVh6E9v67ynh1ieB1tfB+sMJpXVzoR+asBQ0oUDGfoirwUh08VVrZZAGyZ+gnvo0i8t7d0AVafcjzG5SBRz+1loSvO7EohPflVhj+kWp0ak36vUGr67FlAipjUzq0quGqUGIJGcww3DwOCi9Hb0+fes00w+Esj+YZwu34QmpbvfT+Y2gkmSnorEEv62owtPzscOqvz0ljaDlVRvYonQJ5wZveOGLKEimhnXc3H9t2sLhUqUJAF4PildoefIkinoZyuPrIlPUz+vfEc5VqjMAEqWrYQ0hwhWicQFhN5AauOfD1gSLLo1hohGzSGB5xdUjB+Fa69DYUd6B9vdGCt/9YcPM6lT9GwVvJtm36LpOZqp3yjyd0+4cANZBxV7UVqtRDMWUM8MjsrXAvj0gYMURVNFEfyOtUMg9QA=" />
    <add key="OutPublicKey" value="BgIAAACkAABSU0ExAAQAAAEAAQAHqfcItNdMCiv+N3LPsCapcdZbfQqQzPMdcDbIzRuTpsGe/20FRf0BWos/welS6IQF0lc0tBxAfUY3WUPaNO6po4VhOWvEPYUda7tAjQC2TjTHTbG9aXR8XrFAbRxdKUOlXMvaEGw7/Sk66zvcgjP7RxXilHeQc+gVkByeZ42MuA==" />
    <add key="OutPrivateKey" value="BwIAAACkAABSU0EyAAQAAAEAAQAHqfcItNdMCiv+N3LPsCapcdZbfQqQzPMdcDbIzRuTpsGe/20FRf0BWos/welS6IQF0lc0tBxAfUY3WUPaNO6po4VhOWvEPYUda7tAjQC2TjTHTbG9aXR8XrFAbRxdKUOlXMvaEGw7/Sk66zvcgjP7RxXilHeQc+gVkByeZ42MuI9olSi00uey/Z7rgZjWm+60upC2Xw6X4LiEjisDAzllb3iA7Ti4fpvhV5GQi9O36cC5iOW1MtfOrG6CQ6X8KugJRH+jS+H0zk6fIrFe5DjoQGYHNnJLW1+h4MCX5z1UI5OAc9TVJQNInlx0P9EJcfweFkqQMT+S/KEufrMHN37LtcO8YIqEB8ApZJ/d1RiqUhSaa7AgW03LH3VO4NyBpC2kVaGBUw3VCC7t8avhv6lOiLMqbtbrZcjkpeRQieyCG5GPYoNpGe09YxLjGN/sxu75Uh+bTKqDY5zbISxiVOBZZsAp4WQ2ae14f07ZI8AoEcwtwdbJbO5O8hPwZyKrSoaM6XWN7U2Grkn5fkAzE3IXtYI1c60uRpaCQW5x4BRY9haeDriwjT/i/QiHhrk7VNX1Bev5GLYIdztlsNQKrcTcKYusM36/OM5qTMa2iJosE/4AeRo+Ql4lV1wJMLmPaWRpTW27nRND5NbUmp82BbTCuqKjuYlpPea21nTSDml8WOOj32NF3IWoyBBlusvHViVYz1UEWArAzJRGjbXnXHzeOPDWVjk8JSYB2sD9ctixa8At4Wll4+5QFjAGDHAtllU=" />
    <add key="AdminUserNames" value="reydavid,ayaueto,megumi,rdavid,rey.david,aya.ueto,hayashibara,rey" />
    <add key="CurrentTaxRate" value="8.75" />
    <add key="TodaysDiscountRate" value="10.0" />
    <add key="ShippingFirstItem" value="3.99" />
    <add key="ShippingAdditionalItems" value="0.99" />
    <add key="ShippingFreeThreshold" value="49" />
    <add key="ShippingCanadaThreshold" value="250" />
    <add key="OrderNumberPrefix" value="W3020" />
    <add key="TrackingNumberPrefix" value="91018690088450" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <handlers>
      
      <remove name="WebDAV" />
      
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="AnimeDB" connectionString="data source=animegination.database.windows.net;initial catalog=animegination;persist security info=True;user id=reydavid;password=Chikush0;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
